@model IEnumerable<Data.Entities.Generation>

@{
    ViewData["Title"] = "Generations";
}

@{
    var br = 0;
    @foreach (var item in Model) {
    @if(item.BrandModelId != null)
    {
     <h3>@ViewBag.Brand/@Html.DisplayFor(modelItem => item.BrandModel.Name)/Generation</h3>
     br++;
     break;
    }
    }
     @if(br == 0)
    {
        <div class="text-center">
    <h1 class="display-4">Not Found</h1>
</div>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YearFactury)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if(item.BrandModelId != null)
                {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YearFactury)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Modifications" asp-route-id="@item.Id">Next</a> 
            </td>
        </tr>
                }
}
    </tbody>
</table>
<br/>
<div>
    <a class="btn btn-danger" href="##" onClick="history.go(-1); return false;">Go back</a>
</div>
