@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<Data.Entities.Modification>

@{
    ViewData["Title"] = "Index";
}

@{
    var br = 0;
    @foreach (var item in Model) {
    @if(item.GenerationId != null)
    {
     <h3>@ViewBag.Brand/@ViewBag.BrandModel/@Html.DisplayFor(modelItem => item.Generation.Name)/Modifications</h3>
     br++;
     break;
    }
    }
         @if(br == 0)
    {
        <div class="text-center">
    <h1 class="display-4">Not Found</h1>
</div>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BodyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GearBoxType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
          @if (item.GenerationId != null)
           {
             <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BodyType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EngineModel.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GearBoxType.Name)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Next</a> 

                </td>
             </tr>
           }
}
    </tbody>
</table>
<br/>
<div>
    <a class="btn btn-danger" href="##" onClick="history.go(-1); return false;">Go back</a>
</div>
